---
Language:        Cpp
BasedOnStyle:  LLVM
BreakBeforeBinaryOperators: None
AlignConsecutiveAssignments: true
IndentWidth:     4
SpaceBeforeParens: Always
Standard:        Cpp03
TabWidth:        4
UseTab:          Never
...

